* {
    font-family: "Poppins", sans-serif;
}

#trending-div figure {
    background-color: gray;
}

#trending-div figure img {
    height: 300px;
}


/* products.html  */

#products-btn .btn {
    border: 1px solid gray;
    border-radius: 50px;
    padding: 5px 20px;
}

#products-div .card {
    width: 290px;
}

#products-div figure {
    background-color: gray;
}

#products-div figure img {
    height: 300px;
}